*~
.#*
## the next line needs to start with a backslash to avoid looking like
## a comment
\#*#
.*.swp

*.pyc
*.pyo

/*.egg-info
/virtualenv
/venv

config.yaml

.idea
.DS_Store
build
.tox
.env
*.s3tests.conf
selection.txt
